<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if page.title %}
        <title>{{ page.title }} - {{ site.owner }} - personal website</title>
        <meta property="og:title" content="{{ page.title }} - {{ site.owner }}" />
    {% else %}
        <title>{{ site.owner }}</title>
        <meta property="og:title" content="{{ site.owner }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width">
    <meta name="description"        content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta name="google-site-verification" content="1fM5KCFImdJuWeo8L_Qo7_-tuItbZ5hoIlGg8g14WkY" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ', ' }}, {{ site.keywords | join: ', ' }}{% else %}{{ site.keywords | join: ', ' }}{% endif %}">

    {% if include.post%}
        {% if page.img %}
            <meta name="thumbnail"    content="/img/portfolio/{{ page.img }}" />
            <!-- <meta property="og:image" content="{{ /img/portfolio/{{ page.img }} | prepend: site.baseurl }}" /> -->
        {% else %}
            <meta name="thumbnail"    content="/img/default_thumbnail.png" />
            <!-- <meta property="og:image" content="/img/default_thumbnail.png" /> -->
        {% endif %}
    {% elsif include.cv %}
        <meta name="thumbnail"    content="/img/profile_photo_400px.jpg" />
        <!-- <meta property="og:image" content="/img/profile_photo_400px.jpg" /> -->
    {% else %}
        <meta name="thumbnail"    content="/img/default_thumbnail.png" />
        <!-- <meta property="og:image" content="{{ /img/default_thumbnail.png | prepend: site.baseurl }}" /> -->
    {% endif%}


    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic' rel='stylesheet' type='text/css'> -->
    <link href="//cdn.jsdelivr.net/font-hack/2.019/css/hack-extended.min.css" rel="stylesheet" type="text/css">

    <!-- Icons -->
    <link rel="shortcut icon" href="/img/fav/favicon.ico">
    <link rel="shortcut icon" href="/img/fav/favicon-32x32.png">
    
    <link rel="apple-touch-icon" sizes="57x57" href="/img/fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/fav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png">
    <link rel="manifest" href="/img/fav/manifest.json">
    <meta name="msapplication-TileColor" content="#{{ site.color.primary }}">
    <meta name="msapplication-TileImage" content="/img/fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
